{% extends 'HushBundle:Default:default.html.twig' %}

{% block body -%}
    <h1>Chat</h1>
    <div id="friends">
        <ul id="friends-list">
        </ul>
        <div id="add-friend">

            <form method="post" name="add_friend" onsubmit="return false;">
                <input type="text" value="" name="friend-name"/>
                <input type="submit" value="S" />
            </form>
        </div>
    </div>
    <div id="chat">

        <div id="chat-list">

        </div>

        <div id="chat-controls">
            <form id="send-messages" method="post" name="send_message" onsubmit="return false;">
                <input type="text" value="" name="chat-text" />
                <input type="button" value="Send" />
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/js/chat.js"></script>
    <script type="text/javascript">
        fetchFriendsList();
        fetchLatestMessages();
    </script>
{% endblock %}
