{% extends 'HushBundle:Default:default.html.twig' %}

{% block body -%}
    <div id="chat-interface" class="grid">
        <div id="friends" class="unit one-of-four">
            <ul id="friends-list" class="unit span-grid">
            </ul>
            <div id="add-friend" class="unit span-grid">
                <form id="add-friend-form" method="post" name="add_friend" onsubmit="return false;">
                    <input type="text" value="" name="friend-name"/>
                    <input type="button" value="Add" />
                </form>
            </div>
        </div>
        <div id="chat" class="unit three-of-four">
            <h1 id="chat-title">Your are talking with</h1>
            <ul id="chat-list" class="unit span-grid">

            </ul>

            <div id="chat-controls" class="unit span-grid">
                <form id="send-messages" method="post" name="send_message" onsubmit="return false;">
                    <input type="text" value="" name="chat-text" />
                    <input type="button" value="Send" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/chat.js"></script>
    <script type="text/javascript">
        fetchFriendsList();
        fetchLatestMessages();
    </script>
{% endblock %}
