/* Started off at the Toast Framework, has been customised a little */

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html
{
    background-image:url('images/tweed.png');
    background-repeat:repeat;
}

html, body{
	height:100%;

}

.grid {
	max-width: 100%;
}

.unit {
	display: inline-block;
	vertical-align: top;
	/**margin-left: 3%;**/
	margin-right: -.25em;
	/* Clearfix */
	/**
	overflow: hidden;
	*overflow: visible;
	**/
}

.unit-right
{
    margin-left:2%;
}

.span-grid {
	width: 100%;
}

.one-of-two { width: 49%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 24%; }
.three-of-four { width: 74%; }

.one-of-five { width: 20%; }
.two-of-five { width: 40%; }
.three-of-five { width: 60%; }
.four-of-five { width: 80%; }

.one-of-six { width: 16.6%; }
.two-of-six { width: 33.3%; }
.three-of-six { width: 47%; }
.four-of-six { width: 66.6%; }
.five-of-six { width: 83.4%; }

.pull-right
{
    float:right;
}

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}

@media screen and (max-width: 650px) {
	html {
		font-size: 100%;
	}
}
