@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Open Sans', sans-serif;
    background-color:#34495e;
}

footer
{
   padding-left:10px;
   padding-right:10px;
}

#navbar{
	min-height:45px;
	background-color: #1b2937;
	color:#fff;
	padding:0px;
	margin:0px;
	line-height:45px;
	width:100%;
}

.nav-title{
	font-size:16px;
}

.nav-title h1{
	padding-left:15px;
}

.nav-title h1 a{
	color:#fff;
	text-decoration: none;
}

.nav-title h1 a:hover{
	color:#fefefe;
	text-decoration: underline;
}

.nav-items{
	text-align: right;
}

.nav-items a{
	color:#fff;
}

.nav-items a:hover{
    color:#29c673;
}

.nav-items ul{
    margin-top:7px;
	width:100%;
	height:100%;
	list-style:none;
}

.nav-items ul li{
	float:right;
	padding-right:15px;
}

@media screen and (max-width: 650px){
	#navbar{
		height: 100px;
	}

	.nav-items{
		float:left;
	}

	.nav-items ul li{
		float:left;
		padding-left:15px;
	}
}

.landing-page{
	padding-top:15px;
    padding-left:10px;
    padding-right:10px;
}

footer{
	margin-top:30px;
	height:30px;
	padding-bottom:3px;
	width:100%;
	bottom:0;

	text-align:center;
}


button
{
    font-weight:normal;
    border:none;
}

.flat-button
{
    margin-top:10px;
    margin-right:10px;
    padding:14px 26px;
    font-size:14px;
    font-size:14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0,0,0,0.4);
    color:#FFF;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    color:#fff;
    border-radius: 3px;
    text-decoration: none;
}

.flat-button-blue
{
    background-color:#3fb8e8;
    box-shadow: 0 3px 0 0 #3293ba;
}

.flat-button-blue:hover
{
    background-color:#1baae3;
}

.flat-button-blue:active
{
    box-shadow:0 1px 0 0 #3293ba;
}

.flat-button-red
{
    background-color:#e74c3c;
    box-shadow: 0 3px 0 0 #c0392b;
}

.flat-button-red:hover
{
    background-color: #d24a2d;
}

.flat-button-red:active
{
    background-color: #D2523D;
}

.flat-button-green
{
    background-color:#2ecc71;
    box-shadow: 0 3px 0 0 #27ae60;
}

.flat-button-green:hover
{
    background-color: #29c673;
}

.flat-button-green:active
{
    background-color:#2ecc71;
}

.flat-button-small
{
    margin-top:-10px;
    margin-right:0px;
    padding:14px 26px;
    line-height: 30%;
    vertical-align:middle;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    border-radius: 3px;
    text-decoration: none;
}

.panel
{
    padding:10px;
    background-color:#ecf0f1;
    box-shadow: 0 3px 0 0 #bdc3c7;
    border-radius: 3px;
}

.panel-blue
{
    background-color:#3498db;
    box-shadow: 0 3px 0 0 #2980b9;
    color:#FFFFFF;
}

.panel-login
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

input
{
    border:1px solid #95a5a6;
    padding:3px;
    border-radius:3px;
}


input[type=text],input[type=password],input[type=email]
{
    outline: none ;
    background-color:#FFFFFF;
    border:1px #95a5a6 solid;
    box-shadow: 0 3px 0 0 #7f8c8d;
    margin-bottom:5px;
    padding:5px;
    color: black;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
{
    border-color:#f1c40f ;
    box-shadow: 0 3px 0 0 #f1c40f;
}

/** Tabs CSS **/

.tabs{
    height:30px;
}

.tabs > ul{
    font-size: 1em;
    list-style:none;
}

.tabs > ul > li{
    margin:0 2px 0 0;
    padding:7px 10px;
    display:block;
    float:left;
    color:#FFF;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #2ecc71;
    text-shadow: 0 1px rgba(0,0,0,0.3)
}

.tabs > ul > li:hover{
    background-color:#27ae60; /* old browsers */
    cursor:pointer;
    color: #FFFFFF;
}

.tabs > ul > li.tabActiveHeader{
    background: #FFFFFF; /* old browsers */
    cursor:pointer;
    color: #333;
    border:1px solid #29c673;
    border-bottom:0px;
}

.tabscontent {
    border:1px solid;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-color:#29c673;
    border-top:0px;
    padding:10px 10px 25px;
    background: #FFFFFF; /* old browsers */
    margin:0;
    color:#333;
    box-shadow:0 3px 0 0 #27ae60;
}