body {
    /* Margin bottom by footer height */
    padding-top: 80px;
}

#friends-list{
    list-style: none;
}

.active-friend{
    font-weight: bold;
}

.inactive-friend{
    font-weight: normal;
}

#delete-friend-link{
    color:#ff0000;
    margin-right:5px;
}

#confirm-friend-link{
    color:#32cd32;
    margin-right:5px;
}