{% extends 'HushBundle:Default:default.html.twig' %}

{% block body %}
<div class="grid">
		<div class="unit span-grid landing-page">
			<div class="unit one-of-two">
				Stuff about hush
			</div>
			<div class="unit one-of-two">
				{{ form(register_form) }}
			</div>
		</div>
	</div>
{% endblock %}