{% extends 'HushBundle:Default:default.html.twig' %}

{% block body %}
<div class="grid">
		<div class="unit span-grid landing-page">
			<div class="unit one-of-two">
				Stuff about hush
			</div>
			<div class="unit one-of-two">
				Registration Stuff
			</div>
		</div>

		<div class="unit span-grid">
			<div class="unit one-of-one">
				Hello {{ name }}!
			</div>
		</div>
	</div>
{% endblock %}